body{
    background: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
}

ion-icon{
    font-size: 50px;
}

input{
    width: 85%;
    font-family: 'Roboto', sans-serif;
}

.login{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: white;
    z-index: 2;
}

.login input{
    width: 260px;
    height: 54px;
    border: 1px solid #d7d7d7 ;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    outline: none;
    margin-bottom: 20px;
}

.login button{
    background: #e7e7e7;
    outline: none;
    width: 109px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #696969;
}

.login img{
    margin-top: 25%;
    margin-bottom: 50px;
    width: 50%;

}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 0 5px 5px #e8e8e8 ;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.caixa-mensagem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 0 -5px 5px #e8e8e8 ;
    background: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.caixa-mensagem ion-icon{
    font-size: 25px;
}

.enviar-mensagem{
    outline: none;
    border: none;
    font-size: 18px;
}

.chat{
    margin: 113px 0 ;
}

li{
    display: flex;
    font-size: 14px;
    align-items: center;
    margin-bottom: 5px;
    font-weight: 400;
}

.mensagem-recebida{
    padding: 15px 10px;
    background: #fff;
    
}
.status-recebido{
    padding: 15px 10px;
    background: #dcdcdc;
}
.reservado-recebido{
    padding: 15px 10px;
    background: #ffdede;
}
.horario{
    margin-right: 5px;
    color: #AAAAAA;
}

.invisivel{
    display:none;
}

